#d3_demo {
    .bar {
        fill: green;
    }
}

.lowrange {
    fill:none;
    stroke-width: 1;
    stroke: gray;
    stroke-dasharray: 6;
}

.axis line{
    stroke: #706f6f;
    stroke-width: 0.5;
    shape-rendering: crispEdges;
    }
    
    /* axis contour */
    .axis path {
    stroke: #706f6f;
    stroke-width: 0.7;
    shape-rendering: crispEdges;
    }
    
    /* axis text */
    .axis text {
    fill: #2b2929;
    font-family: Georgia;
    font-size: 120%;
    }

path.line-0 {
    fill: none;
        stroke: rgb(169, 208, 69);
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
    }
    
    path.line-1 {
    fill: none;
    stroke: rgb(169, 208, 69);
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
    }
    
    path.line-2 {
    fill: none;
    stroke: rgb(0, 179, 226);
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
    }

    circle.line-0 {
        fill: rgb(169, 208, 69);
    }

    circle.line-1{
        fill: rgb(169, 208, 69);
    }

    circle.line-2{
        fill: rgb(0, 179, 226);
    }

    .overlay {
        fill: none;
        pointer-events: all;
        stroke: none;
    }

    .focus-line {
        fill: none;
        stroke-width: 2px;
        stroke: lightgrey;
        opacity: .5;
    }

    .focus-circle, .focus-circle1, .focus-circle2 {
        fill: steelblue;
    }

    .circle {
        fill: white;
        stroke-width: 2px;
        stroke: steelblue;

      
    }

    #tooltip-label {
        fill: lightgray;
    }

    #tooltip, #tooltip-label {
        fill: lightgray;
        font-size: 1.3rem;
        font-weight: 400;
    }
